<div class="card-region">
  card-region parent component

  <button type="button" (click)="updateText()">Update Text</button>
  <button type="button" (click)="updateTitle()">Update Title</button>

  <demo-card
    *ngFor="let cardItem of cardData"
    [title]="cardItem.title"
    [text]="cardItem.text">
  </demo-card>
</div>
